<template>
  <ul v-if="data && data.length > 0">
    <li v-for="value in data">
      {{ value.display_name }}
    </li>
  </ul>
<div v-else>
<h3>No results found</h3>
</div>
</template>

<script>

export default {
  name: 'ResultsTable',
  props: ['data']
}
</script>