<template>
  <form class="text-align-center">
    <input v-model="searchParam" placeholder="Search" v-search-input>
  </form>
</template>

<style>
.text-align-center{
  text-align: center
}
</style>

<script>
import { debounce } from 'vue-debounce'
export default {
  name: 'SearchInput',
  data() {
    return {
      searchParam: ''
    }
  },
  methods: {
    emitSearch(){
      this.$emit('searchTrigger', this.searchParam)
    }
  },
  watch: {
    'searchParam': debounce(function(val) {
      if (val.length < 3)
        return
      val = val.toLowerCase();
      this.emitSearch()
    }, 300)
  }
}
</script>
