<template>
  <div>
    <SearchInput v-on:searchTrigger="search"/>
    <ResultsTable v-if="searchPerformed" :data="results"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

Vue.directive("search-input", {
    update: function (el) {
        el.value = el.value.replace(/[^a-zA-Z0-9]+/g, '').toLowerCase();
    }
})

export default Vue.extend({
  name: 'IndexPage',
  data() {
    return {
      results: [],
      baseUrl: 'https://nominatim.openstreetmap.org/search.php',
      format: "jsonv2",
      searchPerformed: false
    }
  },
  methods: {
    search(searchParam){
      axios.get(this.baseUrl, 
      {
        params: {q: searchParam, format:this.format},
      })
      .then(
      res => {
        if (!res) return
        this.results = res.data
        this.searchPerformed = true
      }
    )}
  }
})
</script>
